body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

#article-list {
    margin-bottom: 20px;
}

article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

article h3 {
    margin: 0;
}

article p {
    margin-top: 10px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
}

.pagination button:hover {
    background-color: #0069d9;
}

.pagination span {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}
